.jotpayment-main-cont {
    width: 100%;

    .heading {
        font-family: 'League Gothic';
        font-size: 372%;
        margin: 0px;
        font-weight: 100;
    }

    .segoeUI-font {
        font-family: SegoeUI-Light,'Segoe UI Light',HelveticaNeue-Light,'Helvetica Neue Light',SegoeUI,'Segoe UI',HelveticaNeue,'Helvetica Neue','Trebuchet MS',Verdana;
    }

    .sub-heading {
        .segoeUI-font;
        font-weight: 400;
        font-size: 40px;
        margin: 0px;
        margin-left: 30px;
    }

    .mini-heading {
        font-size: 15px;
        font-weight: normal;
        margin-left: 30px;
    }
}

.jotpayment-content {
	border-top: 1px solid #b7b7b7;
    border-left: none;
    background-color: #eee;

    .charts {
        width: 40%;
        padding: 30px;

        float: left;

        &.range-chart {
            width: 95%;
            padding: 20px;
        }

        &.info-chart {

            .products {
                overflow: auto;
                height: 180px;
                max-height: 180px;
            }

            ul {
                padding: 10px;
                margin-left: 30px;

                li {
                    font-size: 12px;

                    &.list {
                        clear: both;
                    }
                }
            }

            .labels {
                width: 130px;
                float: left;
                font-size: 20px;
                font-weight: 400;
            }
        }
    }
}

.jotpayment-side {

}

