body {
    background: #ECF0F1;
    // overflow: hidden;
}

.pure-menu.pure-menu-open {
    width: auto;
}

#loader {
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index:99;
    background: #2ecc71;

    .loader_inner {
        position:absolute;
        width: 500px;
        top: 50%;
        right:0;
        left:0;
        margin:auto;

        #loader_str {
            float: left;
            color: white;
            font-size: 20px;
            display: block;
            margin: 0;
            width: inherit;
            text-align: center;

            img {
                vertical-align: middle;
            }
        }
    }
}

.pure-button {
    &.picker-btn {
        -webkit-transition:all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        font-size: 150%;
        width: 100%;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    &.pure-blue {
        &:hover {
            background: #1D92FF;
        }
    }
}


.form-search {

    input {
        font-size: 25px;
        width: 100%;
        padding: 10px 40px;
        border: 1px solid #DBDBDB;
        outline: 0;
    }

    .search-results {
        margin: 0px;
        padding: 10px 30px;
        border: 1px solid #1A9E6B;
        border-top: none;
        color: #fff;
        background: rgba(96, 215, 169, 0.6);

        &:hover {
            background: #60D7A9;
        }
    }

    .tt-suggestion:first-child p
    {
        border-top: 1px solid #1A9E6B;
    }

    .close {
        position: absolute;
        margin-top: -34px;
        margin-left: 5px;
        width: 20px;
        height: 20px;
        text-align: center;
        cursor: pointer;
    }

    .form-picker-btn {
        position: absolute;
        margin-top: -44px;
        right: 30px;
    }
}
.jotpayment-main-cont {
    width: 100%;

    .heading {
        font-family: 'League Gothic';
        font-size: 70px;
        margin: 0px;
        font-weight: 100;
        text-align: center;

        background-color: #1B1B1B;
        color: rgba(0, 0, 0, 0);
        text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.3);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }

    .segoeUI-font {
        font-family: SegoeUI-Light,'Segoe UI Light',HelveticaNeue-Light,'Helvetica Neue Light',SegoeUI,'Segoe UI',HelveticaNeue,'Helvetica Neue','Trebuchet MS',Verdana;
    }

    .sub-heading {
        .segoeUI-font;
        font-weight: 400;
        font-size: 40px;
        margin: 0px;
    }

    .mini-heading {
        font-size: 20px;
        font-weight: normal;

        .big-font {
            .bold;
            font-size: 35px;
            vertical-align: middle;
        }
    }
}

.notif-history-content {
    padding: 15% 0px;
    .heading {
        font-family: 'League Gothic';
        margin: 0;
        font-size: 130px;
        font-weight: 100;
        text-align: center;
        background-color: #1B1B1B;
        color: transparent;
        text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text; 
    }
}

.jotpayment-content {
	// border-top: 1px solid #b7b7b7;
    // border-left: none;
    // background-color: #eee;

    #total_payments {
        text-align: center;
        margin: 70px 0px;

        .heading {
            font-size: 130px;
        }

        .sub-heading {
            font-size: 60px;
        }
    }

    #this_week_payments {
        ul {
            text-align: center;
            width: 300px;
            margin: 0 auto;
        }
    }

    #best_seller {
        text-align: center;
    }

    .charts {
        width: 37%;
        padding: 30px 0px;
        float: left;

        &.range-chart {
            width: 95%;
            padding: 20px;
        }

        &.info-chart {

            &.week_payments,
            &.best_seller {
                width: 30%;
            }

            &.product_list {
                width: 40%;

                ul {
                    margin: 0px;
                }

                .labels {
                    width: 25%;

                    &.name {
                        text-align: right;
                        margin-right: 25px;
                    }
                    &.soldCount {
                        width: 75px;
                    }
                }
            }

            .products {
                overflow: auto;
                height: 300px;
                max-height: 300px;
            }


            ul {
                padding: 10px;
                margin-left: 30px;

                li {
                    font-size: 12px;

                    &.list {
                        clear: both;
                    }
                }
            }

            .labels {
                width: 130px;
                float: left;
                font-size: 20px;
                font-weight: 400;
                text-align: center;
                margin-bottom: 15px;
                text-align: left;

                &.topline {
                    .bold;
                    border-top: 1px solid black;
                }
            }
        }
    }
}

.jotpayment-side {

}

