@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
.jotpayment-head {
    .pure-menu.pure-menu-horizontal {
        background: #2ECC71;
        border: 1px solid #499C7C;
        padding: 20px 0px;

        a.pure-menu-heading {
            font-family: 'League Gothic';
            font-size: 180%;

            h1 {
                margin: 0px;
                font-size: 50px;
                color: #fff;
                font-family: 'Lato', Calibri, Arial, sans-serif;
                font-weight: normal;

                strong {
                    color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    .pure-menu-selected a {
        color: #fff;
    }

    .pure-menu li a:hover,
    .pure-menu li a:focus {
        color: #fff;
        background: #28B362;
    }
}